<section class="section" id="keynotes">
  <div class="container">
    <div class="row">
      <h3>Palestrantes</h3>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/daniela.jpg" />
        <h4>Daniela Vieira</h4>
          <p>
            Formada em engenharia da computação, atua na área de tecnologia desde 2004, com background técnico de desenvolvimento de software. Trabalhou em consultorias que desenvolvia sistemas para clientes como IG, UOL e teve a oportunidade de planejar a área de qualidade de software, por uma demanda dos clientes da consultoria. Também trabalhou no Grupo Abril e atualmente é Coordenadora de Qualidade de Software do Walmart.com.
            <br>
            Twitter: @danivieira
          </p>
      </div>
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/annanda.jpg" />
        <h4>Annanda Sousa</h4>
          <p>
            Annanda Sousa é estudante de Ciência da Computação na UFRJ, co-fundadora do Pyladies Rio e organizadora de eventos Django Girls. Ela tem interesse em data science, processamento de linguagem natural e processamento de imagens, além de ser apaixonada por matemática. Nas horas vagas, ama ler e é mãe de um gatinho fofo chamado Shinta.
          </p>
      </div>
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/mioto.jpg" />
        <h4>Mariana Mioto</h4>
          <p>
            Bacharel em Informática Biomédica, pela USP de Ribeirão Preto. Programadora, ama processamento de imagens e por caminhos da vida fez disso seu mestrado e trabalho. Por caminhos da alma é pylady, professora, ativista e por isso inventa tempo e junta esforços pra distribuir amor, repassando todo o conhecimento aprendido, com as comunidades que se enfia, através e mini-cursos, oficinas e palestras.
          </p>
      </div>
    </div>
  </div>
</section>
