<section id="coc" class="shortcall">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-4 col-md-2">
        <a href="#">Código de Conduta</a>
        <a href="#">Outro link relevante</a>
      </div>
      <div class="col col-xs-12 col-sm-8 col-md-10">
        <p>
          O Caipyra é um evento inspirado na <b>Python Brasil</b> (maior evento python do brasil) e visa, sem
          fins lucrativos, disseminar conhecimento dentre diversas áreas da técnologia.
        </p>
        <p>
          Como o próprio nome ja diz, somos um evento <b>focado em python</b>, porem aberto
          a diversas técnologias que são trazidas e abordadas pelos nossos ilustres convidados.
        </p>
      </div>
    </div>
  </div>
</section>
