<section id="tickets" class="shortcall">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-8">

      </div>
      <div class="col col-xs-12 col-sm-4">
        <!--
        <h4>Garanta já seu ingresso</h4>
        <p>
          Bla bla bla bla bla
        </p>
        -->
        <h4>Fique atento!</h4>
        <p>
          Em breve iniciaremos as vendas dos ingressos para o Caipyra! Então prepare
          sua camisa xadres e sua calça rasgada enquanto confere o <a href="">aqui</a> o
          evento do ano passado ;)
        </p>
      </div>
    </div>
  </div>
</section>
