  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-md-4">

        </div>
        <div class="col col-xs-12 col-md-4">

        </div>
        <div class="col col-xs-12 col-md-4">

        </div>
      </div>
      <div class="row">
        <span>Copyright</span>
      </div>
    </div>
  </footer>
  <script src="static/js/main.min.js"></script>
</body>
</html>
